feedparser==6.0.10
newspaper3k==0.2.8
pyyaml==6.0.1
argostranslate==1.8.2
ctranslate2==4.6.0
sacremoses==0.0.53
PyQt5==5.15.4
packaging==25.0
transformers
torch
nltk==3.8.1
atoma
lxml-html-clean==0.1.1
sentencepiece==0.1.99
protobuf==4.25.3
spacy
networkx
uvicorn
fastapi